

header{
  display: flex;
  justify-content: center;
  align-items: center;
}


.cards{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 260px;
}

button{
  margin: 10px;
  font-size: 60px;
  background-color: blue;
  border: 3px solid rgba(0,0,0,.1);
  width: 200px;
  height: 260px;
}